body {
    background-image: url('https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg');
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 30px;
}

.menu {
    background-color: #DEB887;
    margin: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    padding: 20px;
}

h1, h2, p {
    text-align: center;
}

.coffee, .dessert {
    float: left;
    width: 50%;
}

hr{
    height: 2px;
    background-color: #A52A29;
    margin: 20px;
    border-color: #A52A29;
}

h1{
    font-size: 40px;
}

h2{
    font-size: 35px;
}

h1, h2 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.date-italic {
    font-style: italic;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Footer*/

a, a:visited {
    color: black;
}

a:hover, a:active {
    color: #A52A29;
}



footer {
    font-size: 13px;
}

.foot-hr {
    margin-top: 20px;
}

.coffee-type p, .dessert-type p{
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 10px;
}
.coffee, .dessert {
    text-align: left;
    width: 75%;
}

.price {
    text-align: right;
    width: 25%;
}