* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #BE3144;
    padding: 1.25rem;
    position: fixed;
    width: 100%;
    border-bottom: #1f1d1d 1px solid;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 1.25rem;
    padding-right: 1rem;
    margin-right: 2rem;
}


#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    background-color: #292A2D;
    top: 0;
    left: 0;
}

#about h1{
    color: white;
    font-size: 4rem;
}

#about p {
    color: #BE3144;
    font-weight: 100;
    font-style: italic;
    font-size: 1.75rem;
}

#work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #46567D;
    color: white;
    padding: 6rem 2rem;
}

#work h2 {
    font-size: 2.5rem;
    border-bottom: 2px solid white;
    padding-bottom: 5px;
    max-width: 640px;
    margin: 0 auto 5rem auto;
}
#project-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 4rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 5rem;
}

.project-img {
    width: 100%;
    height: calc(100% - 4.8rem);
    object-fit: cover;
}

.project-link {
    background-color: #303941;
    color: white;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
}

.project-title {
    font-size: 1.2rem;
    padding: 1rem 0.5rem;
}

.code {
    color: #303941;
    transition: coloe 0.3s ease-out;
}

.project-title:hover .code{
    color: #ff7f50;
}

.btn-show {
    justify-content: center;
    margin: 0 auto;
    background-color: #303941;
   color: white;
   text-decoration: none;
   padding: 1rem 1.25rem;
   font-size: 1.2rem;
   border-radius: 3px;
   transition: background 0.3s ease-out;
}

.btn-show:hover{
    background-color: #BE3144;
}

.btn-show > i {
    margin-left: 10px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}

.btn-show:hover > i {
    transform: translateX(2px);
}

#contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100vh;
    color: white;
    background-color: #303941;
}

#contact h1 {
    font-size: 3.5rem;
}

#contact p {
    font-size: 1.25rem;
    font-weight: 100;
    font-style: italic;
    margin: 1.25rem;
}

#contact > ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 1.5rem;
}

.contact-option {
    list-style: none;
    padding: 1.5rem;
}

.contact-option a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem;
}

footer {
    display: flex;
    flex-direction: row;
    border-top: #BE3144 solid 4px;
    background-color: #303941;
    color: white;
    padding: 3.5rem 2.5rem;
    font-size: 1.2rem;
}

#footer-left, #footer-right {
    max-width: 580px;
    font-weight: 100;
}

#footer-right {
    padding-left:5rem;
    max-width: 180px;
}
#footer-right a{
    color: white;
    text-decoration: none;
}